# requirements.txt

# Interface graphique et widgets thématiques
ttkbootstrap>=1.6.1

# API YouTube Music
ytmusicapi>=0.14.0

# Téléchargeur YouTube
yt-dlp>=2021.12.1

# Manipulation des métadonnées audio (tags, couverture, etc.)
mutagen>=1.45.1

